---
import { Image } from "@astrojs/image/components";
import Glow from "../components/Glow.astro";
import "../styles/style.css";
import club from "../assets/club.jpg";
import coding from "../assets/coding.jpg";
import presentations from "../assets/presentations.jpg";
import swag from "../assets/swag.jpg";
import Photo from "../components/Photo.astro";
import FancyLink from "../components/FancyLink.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leland Computer Science Club</title>
    <meta property="og:title" content="Leland Computer Science Club" />
    <meta
      name="description"
      content="Build a game. Get a free console. Pitch to win $100. Join Leland Computer Science Club today!"
    />
    <meta
      property="og:description"
      content="Build a game. Get a free console. Pitch to win $100. Join Leland Computer Science Club today!"
    />
  </head>
  <body class="bg-gray-900 text-white">
    <main class="py-12 sm:py-20 px-4 overflow-x-hidden">
      <div class="text-center">
        <h1
          class="text-4xl leading-none sm:text-6xl font-bold space-y-4 sm:space-y-3"
        >
          <span class="block">Build a game.</span>
          <span class="block">Get a free console.</span>
          <span class="block"
            >Pitch to win <Glow as="span" class="inline-block">$100</Glow
            >.</span
          >
        </h1>
        <p class="text-xl sm:text-3xl font-medium max-w-2xl mx-auto mt-8">
          Learn to code at Leland's Computer Science Club -- no experience
          needed!
        </p>
        <p class="mt-1 text-lg sm:text-2xl text-blue-300/70">
          Wednesdays 3:30 - 4:30 @ E-8
        </p>
      </div>
      <div
        class="relative z-10 mt-8 flex flex-col sm:flex-row items-stretch sm:items-center justify-center gap-4 sm:gap-6 font-bold text-xl sm:text-3xl text-center"
      >
        <a
          href="https://forms.gle/4KWCU2ZWxyhF5qvZ8"
          class="rounded-xl px-10 py-3 sm:py-3.5 bg-gradient-to-r hover:scale-105 duration-300 hover:duration-150 from-fuchsia-100 to-blue-100 text-gray-900"
          >Register</a
        >
        <a
          href="https://discord.gg/bVxW6B9yDt"
          class="bg-gray-900 focus:bg-[#5865F2] hover:bg-[#5865F2] duration-300 hover:duration-150 hover:scale-105 rounded-xl px-10 py-3 sm:py-3.5 outline-[#5865F2] outline outline-2 sm:outline-4 outline-offset-[-4px]"
          >Discord</a
        >
      </div>
      <div class="flex flex-col sm:flex-row items-center justify-center">
        <Photo src={club} alt="Students coding at a CS Club meeting" />
        <Photo
          src={coding}
          alt="Leland Hacks attendees working on their projects"
          class="hidden sm:block"
        />
        <Photo
          src={presentations}
          alt="Students watching presentations at Leland Hacks"
          class="hidden sm:block"
        />
        <Photo
          src={swag}
          alt="Attendees grabbing swag from the Leland Hacks swag table"
          class="hidden sm:block"
        />
      </div>
      <div class="max-w-prose mx-auto mt-12 sm:text-xl">
        <h2
          class="text-2xl sm:text-3xl leading-none mb-2 font-semibold gradient-border border-b-4 w-fit"
        >
          So... what exactly is this?
        </h2>
        <div class="space-y-6">
          <p>
            First semester, you'll learn to code through building your own game
            with <FancyLink href="https://sprig.hackclub.com">Sprig</FancyLink>,
            a game console and development platform created by <FancyLink
              href="https://hackclub.com">Hack Club</FancyLink
            >! Once you make a game, you'll be sent a real, physical console to
            play your game on.
          </p>
          <p>
            And if all that isn't cool enough... you'll also have a chance to
            demo and pitch your game to the club -- we'll have a grand prize of
            $100, and a bunch of smaller prizes as well.
          </p>
          <p>
            We'll have boba 🧋 and tons of stickers as well! So make sure to <FancyLink
              href="https://forms.gle/4KWCU2ZWxyhF5qvZ8">register</FancyLink
            > and join the <FancyLink href="https://discord.gg/bVxW6B9yDt"
              >Discord</FancyLink
            > :D
          </p>

          <p>
            Email us at <FancyLink href="mailto:lelandcomputerscience@gmail.com"
              >lelandcomputerscience@gmail.com</FancyLink
            > if you have any questions!
          </p>
        </div>
      </div>
    </main>
    <script async defer>
      console.log(
        "Hey hacker!\n\nIf you're here, you probably fit right in at our club :D. Sign up for the club, then send us an email with a screenshot of this message. If you're the first, you'll get a t-shirt!"
      );
    </script>
  </body>
</html>
